/* hide loading indicator in IE<10 since it's all CSS3 */
html.lte9 form .loading-indicator {
  display: none;
}
.exchange form.loading .loading-indicator {
  visibility: visible;
}
.exchange form label {
  font-size: 20px;
}
.exchange form select,
.exchange form input {
  margin: 0 8px;
}
.exchange form .loading-indicator {
  top: 4px;
  left: 4px;
}
.exchange form .controls {
  display: inline-block;
  margin-left: 10px;
}
.exchange #result.active {
  display: block;
}
.exchange #result {
  display: none;
  font-size: 200%;
}
